<footer>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-lg-9 col-sm-9 my-auto h-100 text-justify text-lg-left">
          <p class="text-muted small mb-lg-0">
            © CDMTransformadores 2020. Derechos Reservados. Design
            @Alfredo-Barajas. Development @byKenyoDarz
          </p>
        </div>
        <div class="col-lg-3 col-sm-3 my-auto h-100 text-justify text-lg-left">
          <a href="#"><i class="fab fa-facebook-f fa-fw"></i></a>

          <a href="#"><i class="fab fa-twitter fa-fw"></i></a>

          <a href="#"><i class="fab fa-instagram fa-fw"></i></a>
        </div>
      </div>
    </div>
  </div>
</footer>
