<footer>
  <ul>
    <li><a href="#">Sign up</a></li>
    <li><a href="#">Log in</a></li>
  </ul>
  <ul>
    <li><a href="#">CDM Servicios</a></li>
    <li><a href="#">Partners</a></li>
    <li><a href="#">Comunidad</a></li>
    <li><a href="#">Careers</a></li>
    <li><a href="#">Soporte</a></li>
  </ul>
  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Documentacion</a></li>
    <li><a href="#">Servicos</a></li>
    <li><a href="#">Nosotros</a></li>
  </ul>
  <ul>
    <li>
      <a href="#"><i class="fab fa-facebook-f"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="#"><i class="fab fa-instagram"></i></a>
    </li>
  </ul>
</footer>
