<main>
  <div class="multi-section">
    <img
      src="assets/img/nosotros/mision.png"
      class="img-fluid"
      style="align-self: center"
    />
    <div style="align-self: center">
      <!-- <h3 style="color: #3555b5; text-transform: uppercase">Nuestra Mision.</h3> -->
      <p style="text-align: justify">
        <b style="color: #3555b5; text-transform: uppercase"
          >CDM Mantenimiento y Servicios Ltda</b
        >, es una empresa Norte Santandereana dedicada a la prestación de
        servicios integrales de ingeniería eléctrica de mantenimiento, montaje y
        movimiento especializado de transformadores de potencia.<br />
        Brindamos soluciones caliﬁcadas a la medida de las empresas del sector
        energético, mediante un excelente servicio. Contribuyendo con el
        desarrollo sostenible del sector eléctrico, manteniendo un equilibrio
        entre el crecimiento industrial, la preservación del medio ambiente y el
        bienestar social.
      </p>
    </div>
  </div>

  <div class="multi-section-two">
    <img
      class="a"
      src="assets/img/nosotros/vision.png"
      class="img-fluid"
      style="align-self: center"
    />
    <div class="b" style="align-self: center">
      <!-- <h3 style="color: #3555b5; text-transform: uppercase">Nuestra Vision</h3> -->
      <p style="text-align: justify">
        <b style="color: #3555b5; text-transform: uppercase"
          >En el 2021 CDM Mantenimiento y Servicios Ltda</b
        >, aumentará el posicionamiento en el mercado de servicios de
        mantenimiento, montaje y movimiento especializado de transformadores de
        potencia, para alcanzar el reconocimiento a nivel nacional por sus
        clientes, en la prestación de sus servicios integrales de ingeniería
        eléctrica; garantizando la calidad, efectividad y conﬁanza de los
        clientes.
      </p>
    </div>
  </div>

  <div class="intro">
    <img
      class="a"
      src="assets/img/nosotros/valores.png"
      class="img-fluid"
      style="align-self: center"
    />

    <ul style="list-style: none; text-align: justify">
      <li>
        <i class="pi pi-check" style="color: #3555b5"></i>
        <b style="color: #3555b5; text-transform: uppercase">
          Trabajo en Equipo:</b
        ><br />
        Trabajamos en equipo, con conﬁanza, disciplina y dedicación.
      </li>
      <li>
        <i class="pi pi-check" style="color: #3555b5"> </i>
        <b style="color: #3555b5; text-transform: uppercase"> Honestidad:</b
        ><br />
        Actuamos de manera competente, honesta, con ética personal y profesional
        en todas las circunstancias.
      </li>
      <li>
        <i class="pi pi-check" style="color: #3555b5"> </i>
        <b style="color: #3555b5; text-transform: uppercase"> Pro-Actividad:</b
        ><br />
        Gestionamos soluciones con actitud proactiva, deﬁniendo prioridades,
        estando preparados al cambio y en constante aprendizaje.
      </li>
      <li>
        <i class="pi pi-check" style="color: #3555b5"> </i>
        <b style="color: #3555b5; text-transform: uppercase"> Respeto:</b><br />
        Todas las personas merecen un trato digno y amable, por lo que nos
        relacionamos siempre de manera respetuosa.
      </li>
      <li>
        <i class="pi pi-check" style="color: #3555b5"> </i>
        <b style="color: #3555b5; text-transform: uppercase"> Liderazgo:</b
        ><br />
        Lideramos con el ejemplo y fomentamos la integridad personal.
        Responsabilidad y Conﬁabilidad: Cumplimos con responsabilidad y estamos
        comprometidos con el éxito empresarial, personal y profesional.
      </li>
      <li>
        <i class="pi pi-check" style="color: #3555b5"> </i>
        <b style="color: #3555b5; text-transform: uppercase"> Altruismo:</b
        ><br />
        Trabajamos constructivamente viviendo las mejores experiencias con
        nuestros clientes en pro de su satisfacción.
      </li>
    </ul>
  </div>

  <div>
    <h3 style="color: #3555b5" class="p-text-bold">
      NUESTROS ESTIMADOS CLIENTES
    </h3>
    <p>GRACIAS POR PREFERIRNOS</p>
    <div>
      <img
        src="assets/img/home/bg.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
      <!-- <img src="https://wl.com.mx/img/nuestrosclientes/bg.jpg" /> -->
    </div>
  </div>
</main>
