<header>
  <app-nav></app-nav>
  <div class="tagline">
    <h1>
      Calidad <br />
      Desarrollo <br />
      Manejo
    </h1>
    <ul>
      <li>Servicios de Reparación y Mantenimiento</li>
      <li>
        Servicios Especializados a Transformadores de Media y Alta Potencia
      </li>
    </ul>
    <div>
      <!-- <a routerLink="/nosotros" class="contact">Conocenos</a> -->
      <!-- <button
        pButton
        pRipple
        type="button"
        label="Conocenos"
        class="p-button-rounded p-button-lg"
        routerLink="/nosotros"
      ></button> -->
      <!-- <a routerLink="/nosotros" class="learn-more">Conocenos</a> -->
    </div>
  </div>

  <img src="/assets/img/home/logo.png" />
  <div class="overlay"></div>
</header>
