<main>
  <div class="intro">
    <h3>ISO 14001:2015</h3>
    <p>
      La norma ISO 14001 2015 es un estándar que proporciona los requisitos para
      la implementación de un Sistema de Gestión Ambiental y ayuda a las
      empresas pequeñas, medianas y grandes, a controlar todos los impactos que
      se producen durante las actividades realizadas en el medio ambiente. El
      estándar hace que las organizaciones sean mucho más sostenibles, lleven a
      cabo tecnologías limpias, se especialicen en el manejo de todos los
      aspectos ambientales y cumplan con la legislación ambiental vigente.
    </p>
  </div>

  <div class="multi-section">
    <img src="/assets/img/responsive.png" />
    <div>
      <h3>ISO 45001:2018.</h3>
      <p>
        Un sistema de gestión de la seguridad y salud en el trabajo proporciona
        a la organización una herramienta para determinar y tratar los posibles
        riesgos en la salud y seguridad de la plantilla. Se consigue con ello un
        <b
          >ambiente laboral seguro y saludable que cumple, además, con la
          legislación asociada e impulsa la mejora continua en la empresa.</b
        >
      </p>
    </div>
  </div>

  <div class="multi-section-two">
    <img class="a" src="/assets/img/programming.png" />
    <div class="b">
      <h3>NTC ISO 9001:2015</h3>
      <p>
        Esta Norma Internacional se basa en los principios de la gestión de la
        calidad descritos en la <b>ISO 9000</b>. Las descripciones incluyen una
        declaración de cada principio, una base racional de por qué el principio
        es importante para la organización, algunos ejemplos de los beneficios
        asociados con el principio y ejemplos de acciones típicas para mejorar
        el desempeño de la organización cuando se aplique el principio.
      </p>
    </div>
  </div>

  <div>
    <h3>¿Listo para construir tu propio sitio web?</h3>
    <p>Now is the time to give your business a professional website</p>
    <a href="#" class="contact">Free Trial </a>
  </div>
</main>
