<main>
  <div class="multi-section-two">
    <img
      class="a"
      src="assets/img/servicios/mantenimiento-tranformadores.png"
      class="img-fluid"
      style="align-self: center"
    />
    <div class="b" style="align-self: center">
      <h3 style="color: #3555b5; text-transform: uppercase">
        MANTENIMIENTO DE TRANSFORMADORES DE POTENCIA
      </h3>
      <p style="text-align: justify">
        Los Transformadores de potencia son parte esencial en la red de
        generación, transmisión y distribución de energía eléctrica, para
        garantizar su funcionamiento y vida útil es necesario realizar
        inspecciones y mantenimientos de forma oportuna.
      </p>
      <ul style="list-style: none; text-align: justify">
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i>
          Regeneración del aceite dieléctrico (con Transformados Energizado ó
          Des-energizado).
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i>
          Procesos de Termo-Vacío (con Transformador Energizao ó
          Des-energizado).
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i>
          Secado de la parte activa del Transformador en sitio.
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i>
          Corrección de Fugas.
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i>
          Pintura General.
        </li>
      </ul>
    </div>
  </div>

  <div class="multi-section">
    <img src="assets/img/servicios/montaje.jpg" class="img-fluid"
    style="align-self: center" />
    <div style="align-self: center">
      <h3 style="color: #3555b5; text-transform: uppercase">
        Montaje de Transformadores de Potencia.
      </h3>
      <p style="text-align: justify">
        <b>CDM MANTENIMIENTO</b> Cumple con las técnicas de ensamble y con las
        normas vigentes establecidas, para la correcta instalación y
        funcionamiento de los Transformadores de potencia que garantiza a
        nuestros clientes un servicio profesional y de alta calidad.
      </p>
    </div>
  </div>

  <div class="multi-section-two">
    <img
      class="a"
      src="assets/img/servicios/conmutadorbajocarga.jpg"
      class="img-fluid"
      style="align-self: center"
    />
    <div class="b" style="align-self: center">
      <h3 style="color: #3555b5; text-transform: uppercase">
        Mantenimiento de conmutador bajo carga.
      </h3>
      <p style="text-align: justify">
        El Conmutador de Derivaciones bajo carga en el Transformador de Potencia
        tiene una función mu y importante, mantener tensiones nominales
        estables, por ello es necesario su mantenimiento por que durante el
        proceso de conmutación se van produciendo arcos eléctricos que con el
        tiempo van desgastando los contactos, causando fatiga mecánica y
        carbonización del aceite.
      </p>
    </div>
  </div>
  <div class="multi-section">
    <img
      src="assets/img/servicios/movimiento_lista.jpg"
      class="img-fluid"
      style="align-self: center"
    />
    <div style="align-self: center">
      <h3 style="color: #3555b5; text-transform: uppercase">
        Movimiento especializado de transformadores de potencia.
      </h3>
      <p style="text-align: justify">
        <b>CDM MANTENIMIENTO</b> cumple organizadamente, con un procedimiento
        calificado para realizar el movimiento de los transformadores de
        potencia, garantizando la calidad y la seguridad de los dispositivos e
        instalaciones.
      </p>
    </div>
  </div>

  <div class="multi-section-two">
    <img
      class="a"
      src="assets/img/servicios/pruebas_lista.jpg"
      class="img-fluid"
    />
    <div class="b" style="align-self: center">
      <h3 style="color: #3555b5; text-transform: uppercase">
        Pruebas electricas de campo.
      </h3>
      <p style="text-align: justify">
        <b>CDM MANTENIMIENTO</b> realiza el servicio de pruebas eléctricas en
        sitio para veriﬁcar las condiciones de funcionamiento del transformador
      </p>
      <ul style="list-style: none; text-align: justify">
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i> Factor de potencia
          a los aislamientos y bujes capacitivos
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i> Corriente de
          excitación
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i> Pruebas a
          protecciones mecánicas, tablero de control y cableado
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i> Espectroscopia
          dieléctrica
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i> Barrido de
          frecuencia (SFRA)
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i> Relación de
          transformación (TTR)
        </li>
        <li>
          <i style="color: #3555b5" class="pi pi-check"></i> Resistencia de
          aislamientos Resistencia de devanados
        </li>
      </ul>
    </div>
  </div>

  <div>
    <h3 style="color: #3555b5" class="p-text-bold">
      NUESTROS ESTIMADOS CLIENTES
    </h3>
    <p>GRACIAS POR PREFERIRNOS</p>
    <div>
      <img
        src="assets/img/home/bg.jpg"
        class="img-fluid"
        alt="Responsive image"
      />
      <!-- <img src="https://wl.com.mx/img/nuestrosclientes/bg.jpg" /> -->
    </div>
  </div>
</main>
