<main>
  <div class="intro">
    <h3 style="color: #3555b5; text-transform: uppercase">¿Quienes Somos?</h3>
    <p>
      <b>CDM MANTENIMIENTO Y SERVICIOS LTDA</b>, es una empresa Colombiana
      perteneciente al grupo empresarial <b>CDM</b>. Inició labores operativas
      el 5 de Mayo del 2006 en un consorcio temporal entre las empresas
      <b>TRANSFORMADORES CDM LTDA</b> e INGENIERÍA 2000 LTDA, ambas
      pertenecientes al mismo grupo empresarial.
    </p>
  </div>

  <div class="multi-section">
    <img src="/assets/img/responsive.png" />
    <div>
      <h3 style="color: #3555b5; text-transform: uppercase">Consolidacion.</h3>
      <p>
        El 26 de febrero de 2010 se consolida como empresa legalmente
        constituida, con el propósito de aportar soluciones al sector eléctrico,
        ofreciendo servicios de montaje a transformadores de potencia,
        mantenimiento a transformadores de potencia y sub estaciones eléctricas,
        operaciones de cargue, descargue y traslado especializado de
        trasformadores de potencia.
      </p>
    </div>
  </div>

  <div class="multi-section-two">
    <img class="a" src="/assets/img/programming.png" />
    <div class="b">
      <h3 style="color: #3555b5; text-transform: uppercase">Actualidad.</h3>
      <p>
        El 27 de marzo de 2017, cambió su razón social de <b>CONSORCIO CDM
        MANTENIMIENTO Y SERVICIOS</b> a <b>CDM MANTENIMIENTO Y SERVICIOS LTDA.</b>
      </p>
    </div>
  </div>

  <div>
    <h3>¿Listo para construir tu propio sitio web?</h3>
    <p>Now is the time to give your business a professional website</p>
    <a href="#" class="contact">Free Trial </a>
  </div>
</main>
