<header>
  <!-- <app-nav></app-nav> -->
  <div class="tagline">
    <h1>
      Nuestras Certificaciones <br />
      Demuestran la Calidad y Compromiso de Nuestro Trabajo
    </h1>
    <p>
      Actualmente se encuentra certiﬁcada en el Sistema Integrado de Gestión
      (SIG), bajo los lineamientos de las, ISO 14001:2015 e ISO 45001:2018 y
      logro su certiﬁcación en normas NTC ISO 9001:2015 .
    </p>
    <!-- <div>
      <a href="#" class="contact">Prueba Gratis</a>
      <a href="#" class="learn-more">Mas</a>
    </div> -->
  </div>

  <!-- <img src="/assets/img/documentacion/ISO14001.png" /> -->
  <div class="overlay"></div>
</header>
