<nav>
  <ul>
    <li><a routerLink="/home">CDM Servicios</a></li>
  </ul>
  <ul class="medium-nav">
      <li><a routerLink="/home">Inicio</a></li>
      <li><a routerLink="/documentacion">Certificaciones</a></li>
      <li><a routerLink="/servicios">Servicios</a></li>
      <li><a routerLink="/nosotros">Nosotros</a></li>

    </ul>
 <ul>
  <!-- <li><a href="#">Login</a></li> -->
  <!-- <li><a href="#">App</a></li> -->
  <button pButton label="Aplicativo" class="p-button-rounded"></button>
 </ul>
</nav>